.neuton {
  background: #fff;
  opacity: 0.5;
  width: 80%;
  height: 40vh;
  margin: 50px auto;
  .neuton__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.ball {
  width: 30px;
  height: 30px;
  background-color: rgb(255, 102, 0);
  border-radius: 50%;
}
.first {
  animation: ballFirst 0.8s ease-in-out infinite alternate;
  background: red;
}
.last {
  animation: ballLast 0.8s ease-in-out infinite alternate;
  background: red;
}

@keyframes ballFirst {
  0%,
  50% {
    transform: rotate(0) translateX(0);
  }
  100% {
    background: yellow;
    transform: rotate(50deg) translateX(-30px) scale(1.2);
  }
}
@keyframes ballLast {
  0% {
    transform: rotate(-50deg) translateX(30px) scale(1.2);
    background: yellow;
  }
  50%,
  100% {
    transform: rotate(0) translateX(0);
  }
}
