$background-sword-right: linear-gradient(
  right,
  #fff 20%,
  #000 20%,
  #000 30%,
  #fff 30%,
  #fff 80%
);
$background-sword-left: linear-gradient(
  left,
  #fff 20%,
  #000 20%,
  #000 30%,
  #fff 30%,
  #fff 80%
);

body {
  background: rgb(155, 152, 149);
}
.star-wars {
  margin: 10vh auto;
  width: 200px;
  height: 200px;
  padding: 40px;
  background-color: rgb(0, 0, 0, 0.5);
  transition: 1s ease;

  &:hover {
    border-radius: 10%;
    transition: 1.5s ease;
  }

  .jedi {
    margin-inline: auto;
    height: 8px;
    width: 80%;
    margin-block: 20%;
  }
  &:hover {
    .jedi--red {
      transform: rotate(45deg) translate(0px, 10px);
      box-shadow: 0px 0px 47px 29px rgba(206, 64, 64, 0.7);
      width: 65%;
      border-radius: 10%;
      transition: 1s ease;
    }
  }
  .jedi--red {
    background: $background-sword-right;

    transition: 1.5s ease;
    transform-origin: center;
    transition-delay: 1s;
  }
  &:hover {
    .jedi--green {
      transform: rotate(-45deg) translate(-20px, 40px);
      box-shadow: 0px 0px 47px 29px rgba(78, 244, 27, 0.7);
      width: 65%;
      border-radius: 10%;
      transition: 1s ease;
    }
  }
  .jedi--green {
    background: $background-sword-left;

    transition: 1.5s ease;
    transform-origin: center 40px;
    transition-delay: 1s;
  }
  &:hover {
    .jedi--dismis {
      transition: 1s ease;
      transform: translate(0px, 50px);
      overflow: hidden;
      opacity: 0;
    }
  }
  .jedi--dismis {
    background: $background-sword-left;
    display: inherit;
    transition: 2s ease;
    opacity: 1;
    transition-delay: 1s;
  }
}

@import "style-ball";
