.neuton {
  background: #fff;
  opacity: 0.5;
  width: 80%;
  height: 40vh;
  margin: 50px auto;
}
.neuton .neuton__wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ball {
  width: 30px;
  height: 30px;
  background-color: #ff6600;
  border-radius: 50%;
}

.first {
  -webkit-animation: ballFirst 0.8s ease-in-out infinite alternate;
          animation: ballFirst 0.8s ease-in-out infinite alternate;
  background: red;
}

.last {
  -webkit-animation: ballLast 0.8s ease-in-out infinite alternate;
          animation: ballLast 0.8s ease-in-out infinite alternate;
  background: red;
}

@-webkit-keyframes ballFirst {
  0%, 50% {
    -webkit-transform: rotate(0) translateX(0);
            transform: rotate(0) translateX(0);
  }
  100% {
    background: yellow;
    -webkit-transform: rotate(50deg) translateX(-30px) scale(1.2);
            transform: rotate(50deg) translateX(-30px) scale(1.2);
  }
}

@keyframes ballFirst {
  0%, 50% {
    -webkit-transform: rotate(0) translateX(0);
            transform: rotate(0) translateX(0);
  }
  100% {
    background: yellow;
    -webkit-transform: rotate(50deg) translateX(-30px) scale(1.2);
            transform: rotate(50deg) translateX(-30px) scale(1.2);
  }
}
@-webkit-keyframes ballLast {
  0% {
    -webkit-transform: rotate(-50deg) translateX(30px) scale(1.2);
            transform: rotate(-50deg) translateX(30px) scale(1.2);
    background: yellow;
  }
  50%, 100% {
    -webkit-transform: rotate(0) translateX(0);
            transform: rotate(0) translateX(0);
  }
}
@keyframes ballLast {
  0% {
    -webkit-transform: rotate(-50deg) translateX(30px) scale(1.2);
            transform: rotate(-50deg) translateX(30px) scale(1.2);
    background: yellow;
  }
  50%, 100% {
    -webkit-transform: rotate(0) translateX(0);
            transform: rotate(0) translateX(0);
  }
}