.catalogue-btn:hover,
.nav__icons *:hover,
.nav__menu *:hover,
.socialMedia-icons *:hover,
.catalogue__option:hover {
  transition: 0.75s ease;
  transform: scale(1.1);
}
.why-us__content:hover .leafes3-icon {
  transition: 2s ease;
  transform: rotate(360deg);
}

.why-us__content:hover .hand-icon {
  transition: 2s ease;
  transform: scale(1.1);
}

.why-us__content:hover .leafes-icon {
  transition: 2s ease;
  transform: scale(1.15);
}
