// light-300
// regular-400
// medium-500
// semibold-600
// font-family: 'Montserrat', sans-serif;
%font-14-light {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}
%font-14-regular {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
%font-14-medium {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
%font-16-light {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}
%font-16-regular {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
%font-16-medium {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
%font-16-semibold {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
%font-18-regular {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}
%font-18-medium {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}
%font-22-regular {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
}
%font-26-medium {
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 42px;
}
%font-30-medium {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 48px;
}
%font-48-h-56 {
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  font-family: "Poiret One", sans-serif, cursive;
}
%font-48-h-74 {
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 74px;
  font-family: "Poiret One", sans-serif, cursive;
}
// end fonts======
