// colors__green======
$color-green-100: #abb251;
$color-green-400: #495442;
$color-green-900: #032d23;

// colors__dark======
$color-dark-100: #fff;
$color-dark-200: #d3d2d2;
$color-dark-400: #272929;
$color-dark-500-description: #353535;
$color-dark-900-title: #1b1c1e;
// ==========
.icon {
  fill: #fff;
}
