// hover ====================
$btn-hover-color: rgb(184, 92, 221);

// fonts ==============
%btn-font--12 {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
}
%btn-font--14 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}
%btn-font--16 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}
// color styles ==============
%btn--color {
  background-color: #111b47;
  color: #fff;
  &:hover {
    color: $btn-hover-color;
  }
}
%btn--color-inverse {
  background-color: #fff;
  color: #111b47;
  &:hover {
    color: $btn-hover-color;
  }
}
