.btn__header {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
}

.btn__header {
  background-color: #111b47;
  color: #fff;
}
.btn__header:hover {
  color: #b85cdd;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

main {
  padding-left: 165px;
}

.btn__header {
  width: 160px;
}