body {
  max-width: 1600px;
  min-width: 1600px;
  margin: auto 250px;
  font-family: "Roboto", sans-serif;

}

.container {
  max-width: 1248px;
  background: lightslategray;
}
.container-header {
  max-width: 1120px;
  margin-top: 50px;
}

.nav-menu {
  display: flex;
  align-items: center;
}

.nav-bar {
  margin-left: 121px;
  display: flex;
  justify-content: space-between;
  flex: auto;
  max-width: 322px;
}
.nav-btn {
  display: flex;
  margin-left: auto;
  align-items: center;
}

/* fonts header */
.nav-links-about {
  color: #212353;
  font-weight: 800;
  font-style: normal;
  font-size: 16px;
  line-height: 160%;
}
.nav-links {
  color: #4b5d68;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
}
.nav-btn-1 {
  background-color: #fff;
  border: none;
  border-radius: 50px;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  padding: 17px 29px;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.005em;
}
.nav-btn-1 a {
  align-items: baseline;
  margin-left: 20px;
  
}
/* intro section*/
.intro{
  max-width: 1248px;
  margin-top: 130px;
  background: url(./img/intro-backgroind.png) center right no-repeat ;
  
  
}
  .container-intro{
    display: flex;
    flex-direction: column;
    max-width: 645px;
    height: 464px;
    justify-content: space-between;
    
  }
.intro-slogan{
  font-style: normal;
font-weight: 700;
font-size: 80px;
line-height: 110%;
color: #212353;
}
.intro-article {
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 160%;
color: #4B5D68;
word-spacing: 0.1em;

max-width: 380px;
align-items: flex-start;
}
.intro-btn{
align-self: flex-start;
padding: 16px 37px;
border-radius: 50px;
border: none;
background-color: #9C69E2;
color: #fff;

}
/* introduce section */
.introduce{
  margin-top: 100px;
  max-height: 560px;
  
}
.container-introduce{
  display: flex;
  justify-content: flex-end;
  max-width: 1117px;
border-radius: 50px;
background-color:rgba(240, 99, 184, 0.15);

}
.introduce-article{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 629px;
  padding-left: 62px;
  padding-right: 93px;
  

}
.introduce-slogan{
  font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 130%;
color: #212353;

}
.introduce-info{
  font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 160%;
color: #4B5D68;
word-spacing: 0.1em;

margin-top: 40px;
}
/* feature section*/
/* feature intro */
.feature{
  max-width: 1117px;
}

.container-feature{
max-width: 1136px;
}
.feature-intro{
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 160px;
  justify-content: space-between;
}
.feature-slogan{
  font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 130%;
color: #212353;

}
.feature-info{
  font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 160%;
color: #4B5D68;
text-align: center;
max-width: 584px;


}
/* feature name */
.feature-name{
  margin-top: 150px;
  display: flex;

}
.feature-data{
  display: flex;
  max-width: 520px;

}
.feature-data-text{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: ;

}
.feature-data-slogan{
  font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 130%;
color: #212353;

}
.feature-data-info {
  font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 160%;
color: #4B5D68;
}



/* feature 2 */
.feature-access{

}
.feature-print{

}
.feature-security{

}