body {
  margin: 0 auto;
  max-width: 1440px;
  box-sizing: border-box;
}

body h2 {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.75rem;
  line-height: 1, 3214;
}

/* header */

.header-div {
  padding-left: 11.319%;
  background-image: url(./img/img-header/4\ backround\ Group\ 10.png);
  background-repeat: no-repeat;
  background-position: right top;
}

.header-div>img {
  padding-top: 3.9375em;
  padding-bottom: 8.3125em;
}

.header-div h1 {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 1.33;
  letter-spacing: 0.03em;
  color: #333333;
  padding-bottom: 0.833em;
  width: 42.756%;
}

.header-div p {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.444;
  color: #4f4f4f;
  padding-bottom: 2.777em;
  width: 35.47%;
}

.stores {
  padding-bottom: 10.25em;
}

.stores :nth-child(2) {
  margin-left: 2.81123%;
}

/* hero-left */

.hero-body {
  display: grid;
  grid-template: 37rem/ 55.9027% 1fr;
}

/* .hero-left > img {
  width: 100%;
} */

.hero-left {
  grid-column: 1/2;
  position: relative;
  z-index: 1;
}

.hero-left-background {
  width: 100%;
}

.hero-left-notification {
  position: absolute;
  right: 35.031%;
  top: 13.5403%;
  z-index: 5;
  width: 57.089%;
}

.hero-left-video {
  position: absolute;
  right: 21.863%;
  bottom: 9.6894%;
  z-index: 3;
  width: 44.776%;
}

/* hero-right */

.hero-right {
  grid-column: 2/3;
}

.hero-right-article {
  max-width: 65.984%;
}

.row-1 {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.3125;
  color: #00adee;
  text-transform: uppercase;
  padding-bottom: 1.6875em;
}

.row-2 {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.75rem;
  line-height: 1.3214285;
  color: #333333;
  padding-bottom: 1.037em;
}

.row-3 {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.4375;
  color: #4f4f4f;
}

.row-4 {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.3125;
  color: #00adee;
}

/*hero-right margin & padding sizes */

.article-subtitle {
  margin-top: 8.3125em;
}

.article-footer {
  margin-top: 1.375em;
}

/* main */

.main-body {
  display: grid;
  grid-template: 44.75rem/ 44.09722% 1fr;
  background-image: url(./img/img-main/1\ Group\ 672.png);
  background-repeat: no-repeat;
}

.main-left-article {
  padding-left: 25.511811%;
}

/* left */

.main-left-article {
  grid-column: 1/2;
}

.main-subtitle {
  margin-top: 13.5625em;
}

.main-footer {
  margin-top: 3.375em;
}

/* right */

.main-right {
  grid-column: 2/3;
  position: relative;
  height: 27rem;
}

.main-phone {
  position: absolute;
  top: 4.6875em;
  left: 25.46583%;
  z-index: 1;
}

.main-notification-1 {
  position: absolute;
  top: 8.875em;
  left: 25.46583%;
  z-index: 2;
}

.main-notification-2 {
  position: absolute;
  top: 28.6875em;
  left: 59.37888%;
  z-index: 2;
}

.main-dot {
  position: absolute;
  position: absolute;
  top: 32em;
  left: 16.5217%;
  z-index: 2;
}

/* feaures */

.features {
  background-image: url(./img/img-features/feature-background.png);
  background-repeat: no-repeat;
  /* max-height: 45.9375rem; */
}

.features-title {
  text-align: center;
  padding-top: 2.71428em;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.75rem;
  line-height: 1.321428;
  color: #fff;
}

.features-body {
  display: grid;
  grid-template: 10.0625rem 10.375rem 7.25rem / repeat(3, 28.017%);
  padding-left: 11.388%;
  padding-right: 11.5277%;
  padding-top: 3.625em;
  padding-bottom: 4.125em;
  row-gap: 2.0625em;
  column-gap: 8.1044%;
}

.gen-block {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.4375;
  color: #fff;
}

.block-1 {
  grid-column: 1/2;
  grid-row: 1/2;
}

.block-2 {
  grid-column: 2/3;
  grid-row: 1/2;
}

.block-3 {
  grid-column: 3/4;
  grid-row: 1/2;
}

.block-4 {
  grid-column: 1/2;
  grid-row: 2/3;
}

.block-5 {
  grid-column: 2/3;
  grid-row: 2/3;
}

.block-6 {
  grid-column: 3/4;
  grid-row: 2/3;
}

.block-7 {
  grid-column: 1/2;
  grid-row: 3/4;
}

.block-8 {
  grid-column: 2/3;
  grid-row: 3/4;
}

.block-9 {
  grid-column: 3/4;
  grid-row: 3/4;
}

/* slider */

.slider {
  height: 26.9375rem;
  padding-top: 4.25em;
  position: relative;  

  
}
.slider::before{
content: "";
	display: block;    
	width: 100%;
	height: 100%;    
	position: absolute;
	top: 0;      
	left: 0;   
  background: rgb(255,255,255);

background: linear-gradient(90deg, rgba(255,255,255,1) 7%, rgba(255,255,255,0) 50%, rgba(255,255,255,1) 93%);
}

.slider-title {
  text-align: center;
  padding-bottom: 2.25em;
  position: relative;
}

.feedback-body {
  display: grid;
  grid-template: auto/ 0.5fr repeat(3, 1fr) 0.5fr;
  column-gap: 2.4305%;
  position: relative;
}
.card{
  border-radius: 4px;
  border: 1px solid #828282;
  padding-top: 0.9375em;
  padding-inline: 17px 13px;
  margin-inline: 1.21525% 1.21525%;
}
.card-body{
  height: 10rem;
}
.card-body p{
  font-family: 'Lato', sans-serif;
   font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;
}
.card-body_title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1.125em;
}
.card-body_title h5{
  font-family: 'Lato', sans-serif;
  font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;

}
.feedback-arrow-left {
  position: absolute;
  top: 35%;
  left: 7.083%;
}

.feedback-arrow-right {
  position: absolute;
  left: 92.285%;
  top: 35%;
}

.slider-icon-div {
  margin-top: 2.9375em;
  text-align: center;
}

.feedback-mobile {
  display: none;
}

/* companies */

.companies {
  text-align: center;
  padding: 0px 12.5% 4.5625em;
}

.companies>h2 {
  text-align: center;
  padding: 2.07143em 0px;
}

.companies-container {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

/* bottom */

.bottom {
  display: flex;
}

.bottom-left {
  width: 46.25%;
}

.bottom-right {
  padding: 6.5625em 11.25% 0px 5.3472%;
}

.bottom-right p {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5625;
  padding-top: 2.1875em;
  padding-bottom: 2.375em;
}

.stores-bottom :nth-child(2) {
  margin-left: 6.728%;
}

/* footer */

.footer {
  display: flex;
  justify-content: center;
  background-color: #00adee;
  align-content: center;
  justify-content: space-between;
  height: 7.9375rem;
  align-items: center;
  padding: 0 11.25%;
}

.footer-nav {
  display: flex;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.3125;
  color: #fff;
}

.footer-nav *:not(:last-child) {
  padding-right: 2.3125em;
}

.col-3 *:not(:last-child) {
  padding-right: 1.0625rem;
}

/* mobile */

@media (max-width: 720px) {
  body {
    text-align: center;
    /* max-width: 320px; */
    box-sizing: border-box;
    font-size: 1rem;
    margin: 0 auto;
  }
  * {
    font-size: 1rem;
  }
  .header-div {
    width: 100%;
    background-image: none;
    padding-inline: 20px;
    background-color: #F4F6F9;
  }
  .header-div h1, .header-div p {
    width: 100%;
  }
  .hero-body {
    display: grid;
    grid-template: 1fr 1fr/1fr;
  }
  h2, h2+p {
    width: 100%;
  }
  .hero-body {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    padding-inline: 20px;
  }
  .hero-right-article {
    /* min-width: 320px; */
    max-width: 100%;
    text-align: center;
  }
  .hero-right-article * {
    /* margin: 0 auto; */
    width: 100%;
  }
  .hero-right-article .row-1 {
    font-size: 1rem;
    margin-top: 3.375em;
  }
  .hero-right-article .row-4 {
    padding-bottom: 1.25em;
  }
  /* main mobile */
  .main-body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.65fr;
    grid-template-areas: 'top' 'bottom';
  }
  .main-left-article {
    grid-area: top;
    padding-inline: 20px;
  }
  .main-left-article .row-1 {
    margin-top: 3.875em;
  }
  .main-right {
    grid-area: bottom;
    background-image: url(./img/img-main/1\ Group\ 672.png);
    background-repeat: no-repeat;
    text-align: center;
  }
  .main-right img {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .main-right :nth-child(1) {
    width: 27.625%;
    left: 13%;
    top: 0.5rem;
  }
  .main-right :nth-child(2) {
    width: 27.625%;
    left: 63%;
    top: 14.5rem;
  }
  .main-right :nth-child(3) {
    display: none;
  }
  .main-right :nth-child(4) {
    left: 10%;
    width: 72%;
  }
  /* feature */
  .features {
    background-image: none;
    padding: 0 6.5625%;
  }
  .features p {
    color: #4F4F4F;
  }
  .features-body {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: center;
  }
  /* feedback */
  .slider {
    margin-top: 7.4375rem;
    padding: 0 7.22%;
    ещ height: fit-content;
  }

  .feedback-mobile {
    display: block;
  }
  .feedback-mobile img {
    width: 100%;
  }
  .slider-icon-div {
    margin-top: 2.0625rem;
  }
  /* companies */
  .companies {
    padding: 5.555%;
  }
  .companies-container {
    flex-wrap: wrap;
    justify-content: space-between;
    justify-items: center;
  }
  .companies-container * {
    padding-top: 1em;
  }
  /* bottom */
  .bottom {
    flex-direction: column-reverse;
  }
  .bottom-right {
    padding: 5.625em 5.55% 0 5.55%;
  }
  .stores {
    padding-bottom: 3.25em
  }
  .stores-bottom img {
    width: 45.625%;
  }
  .bottom-left img {
    width: 100vw;
  }
  /* footer */
  .footer {
    padding-block: 2.8125rem;
    padding-inline: 5.83%;
    flex-direction: column;
    align-items: flex-start;
  }
  .col-1 {
    order: 1;
  }
  .col-2 {
    order: 3;
  }
  .col-3 {
    order: 2;
  }
  .footer-nav *:not(:last-child) {
    padding-right: 1.055em;
  }
  .svg-general {
    fill: #00ADEE;
  }
  section {
    max-width: 100%;
  }