body {
  background-color: #4a4848;
  font-family: "Lato", sans-serif;
  font-weight: 500;
}
th {
  font-weight: 700;
}
.wrapper {
  margin: 50px;
}
table {
}
.table-1,
.table-2 {
  margin: 0 auto;
  width: 700px;
  text-align: left;
  border-radius: 5px;
}
.table-1 th,
td,
.table-2 th,
td {
  padding: 10px;
  border-radius: 10px;
}
.table-1 tr,
.table-2 tr {
  border: solid black 1px;
  color: #fff;
}
.column-1 {
  width: 50%;
  color: #fff;
}
.column-2 {
  width: 40%;
  color: #b7b5b4;
}
.column-3 {
  text-align: center;
  color: #b7b5b4;
}
i {
  margin-left: 5px;
  margin-right: 5px;
}
/* table 3 */

.search {
  display: flex;
  align-items: center;
  border: 1px solid #b7b5b4;
  border-radius: 3px;
  margin: 3px;
  width: 190px;
}
.search input {
  background: none;
  border: none;
  height: 16px;
}
.tab3-th :nth-child(3) {
  padding: 5px;
  background-color: #3d3b3b;
}
.column-center {
  text-align: left;
  color: #b7b5b4;
}
.column-right {
  text-align: right;
  padding-right: 30px;
  color: #b7b5b4;
}
input,
i,
.column-1,
.column-3 {
  cursor: pointer;
}
