body {
  background-color: #4a4848;
  font-family: "Lato", sans-serif;
  font-weight: 500;
}

th {
  font-weight: 700;
}

.wrapper {
  margin: 50px;
}

table {
  border-spacing: 0;
  border-collapse: separate;
}
table td {
 padding-block: 15px;
}
.table-1,
.table-2 {
  margin: 0 auto;
  width: 700px;
  text-align: left;
  /* border-radius: 5px; */
}

.table-1 th,
td,
.table-2 th,
td {
  padding: 10px;
  /* border-radius: 10px; */
}

.table-1 tr,
.table-2 tr {
  border: solid #5a5757 1px;
  color: #fff;
  padding: 5px;
}

.column-1 {
  width: 50%;
  color: #fff;
}

.column-2 {
  width: 40%;
  color: #b7b5b4;
}

.column-3 {
  text-align: center;
  color: #b7b5b4;
}

i {
  margin-left: 5px;
  margin-right: 5px;
}

/* table 3 */

.search {
  /* display: flex;
  align-items: center; */
  border-top-right-radius: 8px;
  border: none;
  margin: 3px;
  width: 190px;
}

.search input {
  background: none;
  border: none;
  height: 16px;
  outline: none;
}

.tab3-th :nth-child(3) {
  padding: 5px;
  background-color: #5a5757;
}

.column-center {
  text-align: left;
  color: #b7b5b4;
}

.column-right {
  text-align: right;
  padding-right: 30px;
  color: #b7b5b4;
}

input,
i,
.column-1,
.column-3 {
  cursor: pointer;
}

th,
td {
  border-top: solid 1px #5a5757;
  border-bottom: solid 1px #5a5757;
}

.column-1 {
  border-left: solid 1px #5a5757;
}

.column-3,
.column-3-th {
  border-right: solid 1px #5a5757;
}

th .column-3 {
  margin-right: auto;
}

table tr:first-child th:first-child {
  border-top-left-radius: 8px;
}

table tr:first-child th:last-child {
  border-top-right-radius: 8px;
}

table tr:last-child td:first-child {
  border-bottom-left-radius: 8px;
}

table tr:last-child td:last-child {
  border-bottom-right-radius: 8px;
}
/* subImages */
.subImages__picture {
  width: 5.984%;
}
.subImages__picture-text {
  display: inline-block;
  text-justify: center;
  width: auto;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link {
  color: #495057;
}
.contentSelector__item--posts {
}
.contentSelector__item--posts:hover {
  transition: red 
